:host ul {
    display: block;
}
:host ul li {
    display: block;
    list-style-type: none;
}
:host p {
    color: dodgerblue;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    padding: 5px;
    cursor: pointer;
    text-decoration: underline;
}